<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      contact
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-icon name="call"></ion-icon> 083-04-7924 <br>
  <ion-icon name="mail"></ion-icon> wachirawitautamakorn<ion-icon name="at"></ion-icon>gmail.com <br>
  <ion-icon name="logo-facebook"></ion-icon> Wachirawit Autamakorn <br>
  <ion-icon name="logo-instagram"></ion-icon> Wachirawit__a <br>
  <ion-icon name="logo-tiktok"></ion-icon> baconguy007 <br>
</ion-content>
